@font-face {
  font-family: "DotGothic16";
  src: url("/fonts/pixel/DotGothic16-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* FunnelDisplay */
@font-face {
  font-family: "Funnel Display";
  src: url("/fonts/en/FunnelDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Funnel Display";
  src: url("/fonts/en/FunnelDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Funnel Display";
  src: url("/fonts/en/FunnelDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Funnel Display";
  src: url("/fonts/en/FunnelDisplay-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Funnel Display";
  src: url("/fonts/en/FunnelDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Funnel Display";
  src: url("/fonts/en/FunnelDisplay-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
/* Jali Arabic */
@font-face {
  font-family: "Jali Arabic";
  src: url("/fonts/ar/Jali-Arabic-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jali Arabic";
  src: url("/fonts/ar/Jali-Arabic-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jali Arabic";
  src: url("/fonts/ar/Jali-Arabic-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jali Arabic";
  src: url("/fonts/ar/Jali-Arabic-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jali Arabic";
  src: url("/fonts/ar/Jali-Arabic-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jali Arabic";
  src: url("/fonts/ar/Jali-Arabic-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jali Arabic";
  src: url("/fonts/ar/Jali-Arabic-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
